table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 15px;
    background: rgba(239, 237, 239, .30);
}

body {
    background: url("BirthdayWallpaper.jpeg") no-repeat center center fixed;
    background-size: cover;
}

.note {

    margin-top: 20px;

    margin-right: 425px;
    margin-left: 430px;

}
div {
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 423px;
    margin-left: 430px;

}